language: java

jdk:
  - oraclejdk8
services:
  - docker

after_success:
- docker login -e $DOCKER_EMAIL -u $DOCKER_USER -p $DOCKER_PASS
- export REPO=drtodolittle/camunda
- export TAG=1.0.2
- docker build -f Dockerfile -t $REPO:latest .
- docker tag $REPO:latest $REPO:$TAG
- docker tag $REPO:latest $REPO:latest
- docker push $REPO
env:
  global:
  - secure: oGVciA1eWP6FHT8CBmbLXd5HNU64zKmFZ+bPRRKINDl6zFK1Lz2hFfeuuyH4JWnfw7lDrdVXOO8baGZuU+XNOEvvAQRJcIbvgp3Uo+HUIE5R3ZrTf26DQSqm1LfoBBJbaYKAMZg1mbCrIxPDj8QhKOXD7w/CIpjW7pnQ3md9Abu47jbV1SAwOQlW22AD8vfYqOz0uvRZiJ+44hdzc0DB41mDzdjTNtyAFDAltBUSINvBcS4HAJawN/kiqOjMaEgKypcsT5WjVlqWrLQFvFWUMMn+XmxMCKSgkmlwXH+bpUPSlhNJ/2ALHSiS6TYdim2mVx3A3UhCQnreOSJCR3Qr5A0FDAsrF+ryKonH25wf7N3PFoQd9zvAyezcQ+TZYsYP1vLu2WcpdO35m2WRw/bMgJF5tevskAZniaRayLGkTbFhAp6bCH2lHw0zJhzS+dIaw7rjhADNc3c1HUjSPbq2U+OqHtuVpJlA4p5Aup/aPuHGXMYVlsnECGvZTW8+gGjbrjADE68Ug8D7kdET92CQ4C4d9HxzuAVD/WYPEfETKvcn9Ce1DSdPYvN+QKAuR7c/u77N5VjBP87h3CQNkN5+wpNhWiY8P+2uCM3e3Yki2Yhx7nSXYqBMIi09fi3fAawU3l935YTRAYLaAhxcFRsBoObWbsiuuYEB0LS39nleCSc=
  - secure: M5r51OKCnHRPTT2yaFTFL7Pm9v+Jv3fTujzwKbsugRTZYlgihkpsTAkxRltQFkvxtQbi9QrtfhJ15U02PUkziZP8zaDe47afM8pbH8oHqVEJWs9Wz9a2qYoGe8ECeqvHKuttfa+PbT+eIRcshjLAp3FkEPpqhbz18+sieTaVipmy0WZjHEqaOHoxnzwTMqbBUnq6sgSw7Rp9oSJBf5JcdpahYXRSBNW+gF8+7zqw+mgAGHMdxcbdtJdZkD8cN6XhkvAvJKq2hwVDUqSTZBxmLuChiqcyUP6PaD2NL9WWKsxHoQS+qaRa+Fc1ukU+TRxif37IO/gnoPwQ2/5Ff6qf6wuLFXWwWRI63rRG5Tuhic0FmYIVe/xpOz+nIP6msPe3zgDOjki3tc3JgR5BW6pQTn3uYWluVZuPbrHA9qVWiGFpC88krzau8tCBts+Yh+DnsZM9w8nl5qMSoqHihv0UEEZGqSFClghOVsVFE5kvX8iHHY+CXyQQJZFc8ElSN635SonIB7bfJNn28z5bIoDWfcTMdj14RU8X1MPdEomMIysICJjTbB6MTMspW0XM1nvME3k57VVea9yl/awqC5+bHeyt8bCx080fKr0oDu53hjw6lgVlF5lKWNWREg4pr7opURvmTIlLtS7+nMMrx79tB3p7S5yfemZvqRbvFb3J/K0=
  - secure: RdsdJQBTymowi9uCQ8Lp18NC4le5/PxWGOS7WwmiECBZmJWyMux2Y3pyjkfMpCtZfSTmfWTqYbJz/rw/mo6nr18JNL182zRBf6kXjUrJ9U9ydnsWmf3DOAmgad+lCXLuY8DjSZ25DL2VbDUk3ciEd8RLzbjNnSlkAzTCA80SSFG9Bi1m1W7WFdhf+GUTQAiSX57LZIxMkKMmopZil8QSC6pRGKpGdr8Jw7IvjE9rjvn49m3TbWsUrjfmBfsFj8IaRdb+v2JIcbWwamMCd0hl4WRaZEDpLVfOYPYxcOn4Zgb+Q4w72+tPC2WcWWgOOAbIvN9VF+FvImpCSWvAaqpyE1l3m2oxftRkV59p/Fw9CXGC7RJgSsIYIjpPDsSxKumdV3nGdI/y7RY2ScelGU0gkdILD/JubKwnYbLSsUEUgucbCw4Tg+ktT1NQ0C3PGQ0TYiG6Misq2KExBhmquIQ146tVc9Wy4O4qkf+OLFkCe4IqlCbA45tkqMibfvxwH1bRtFUb3Z1RifjAcd2x3mGEliqFTu/bQMLcS1zplRTD1hf1+lJCjotMtNw6THmdvOb1QZeofj8RoEbW6stQ8TfWTf8ZDxNWQwFZEAjUwMUH19bY0WnSgkpTqhJ5Y35tYepPZOX1U2tuCvPGI6tWMvzR0dE16NDIKs+VqFe8Oe3K4Ts=
